body {
    background: black;
    color: white;
    font-family: "Menlo", monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    margin: 0 0 3rem 0;
    display: flex;
}

pre {
    position: absolute;
    top: 2rem;
    left: 5rem;
    max-width: 30rem;
    height: 1rem;
}

.container {
    width: 100%;
    max-width: 50rem;
    margin: 4rem auto;
}

.project {
    width: 50%;
    margin: 0;
    padding: .5rem;
    border-radius: 5px;
}

.project:hover {
    background: #212120;
    cursor: pointer;
}
